<nav class="navbar fixed-top navbar-dark">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{method}}">{{status}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{todo}}">{{action}}</a>
  </li>
</ul>
</nav>

<div class="container center">

<h1 class="">Previous Blogs</h1>
<div class="card p-5">
  
    {{#each blogs as |blog|}}
<div class="card-header bg-secondary mt-3"><a href="/blogs/{{id}}"><H2 class="text-light">{{blog.title}}</H2></a></div>
<div class="card-body bg-light"><p>{{blog.content}}</p></div>
{{/each}}
</div>
</div>